<section class="container p-5" id="portfolio">
    <h2 class="text-center"> Mis Proyectos</h2>
    <hr class="mb-5">

    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body"> 
                    <h5 class="card-title">Proyecto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam consequatur repudiandae vel aliquam..</p>
                    <a href="#" class="nav-link text-primary">Link Aqui.</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body"> 
                    <h5 class="card-title">Proyecto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam consequatur repudiandae vel aliquam..</p>
                    <a href="#" class="nav-link text-primary">Link Aqui.</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="" alt="Imagen del proyecto" class="d-block mx-lg-auto img-fluid">
                <div class="card-body"> 
                    <h5 class="card-title">Proyecto 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem veniam consequatur repudiandae vel aliquam..</p>
                    <a href="#" class="nav-link text-primary">Link Aqui.</a>
                </div>
            </div>
        </div>
    </div>
</section>